<ion-item [button]="true" [routerLink]="['/request-form',requestPreview.requestId]"  >
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" [src]="requestPreview.image" />
  </ion-thumbnail>
  <ion-grid class="grid">
    <ion-chip [color]="getStatusColor(requestPreview.status)">{{getStatus(requestPreview.status)}}</ion-chip>
    <ion-col>
      <ion-card-header>
        <ion-card-title class="ion-text-capitalize">{{requestPreview.equipment}}</ion-card-title>
        <ion-card-subtitle>{{requestPreview.createdDate}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
  </ion-grid>
  <ion-icon color="medium" name="chevron-forward"></ion-icon>
</ion-item>
