<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >Configuraciónes</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button (click)="confirmLogoutModal()">
        <ion-icon  name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list inset="true">
    <ion-item-group>
      <ion-item-divider>
        <ion-label> General</ion-label>
      </ion-item-divider>

      <ion-item [button]="true" (click)="goToUserProfile()">
        <ion-label>Mi perfil</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item [button]="true">
        <ion-label>Contactanos</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider >
        <ion-label> Seguridad</ion-label>
      </ion-item-divider>

      <ion-item [button]="true">
        <ion-label>Cambiar contraseña</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>

<ion-alert
  *ngIf="showLogoutModal"
  isOpen="true"
  header="Cerrar sesion"
  [message]="'¿Seguro que desea cerrar sesion?'"
  [buttons]="logoutButtons"
></ion-alert>
