<ion-item *ngIf="!isAddService">
  <ion-badge slot="start">$ {{servicePreview.cost}}</ion-badge>
  <ion-label>{{servicePreview.name}}</ion-label>
  <ion-button size="small" color="danger" *ngIf="!isAddService" (click)="removeService(servicePreview.id)">
    <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
  </ion-button>
</ion-item>

<ion-item *ngIf="isAddService">
  <ion-badge slot="start">$ {{servicePreview.cost}}</ion-badge>
  <ion-label>{{servicePreview.name}}</ion-label>
  <ion-checkbox (ionChange)="onServiceChange(servicePreview,$event)" [checked]="isChecked(servicePreview)"  ></ion-checkbox>
</ion-item>
