<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [hidden]="!isGranted(['SOLICITUDES_POR_TICKET_ASIGNADO','TODAS_LAS_SOLICITUDES','SOLICITUDES_CREADAS'])" tab="request">
      <ion-icon name="wallet-outline"></ion-icon>
      Solicitudes
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      Notificaciones
    </ion-tab-button>
    <ion-tab-button tab="configuration">
      <ion-icon name="settings-outline"></ion-icon>
      configuración
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
