
<ion-card >
  <ion-card-content>
      <form class="form" [formGroup]="form" (ngSubmit)="registry()">

        <ion-item lines="full">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input label="Cedula" [labelPlacement]="isRegistry ? 'floating': 'fixed'" [readonly]="isRegistry ? false : true" formControlName="dni" [clearInput]="true" required min="0" type="number" [placeholder]="isRegistry ? '' : '24160257'"></ion-input>
        </ion-item>

        <span *ngIf="validFieldRequired('dni')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>
        <span *ngIf="validFieldMinLength('dni')">
          <ion-label>* El minimo de caracteres es 8</ion-label>
        </span>

        <ion-item lines="full">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input label="Correo" [labelPlacement]="isRegistry ? 'floating': 'fixed'" [readonly]="isRegistry ? false : true"  formControlName="email" type="email" [clearInput]="true" [placeholder]="isRegistry ? '' : 'xiangn@gmail.com' "></ion-input>
        </ion-item>
        <div *ngIf="validFieldPattern('email')">
          <ion-label >* Formato de email invalido</ion-label>
        </div>
        <span *ngIf="validFieldRequired('email')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>

        <ion-item lines="full">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input label="Nombre" [labelPlacement]="isRegistry ? 'floating': 'fixed'" formControlName="name" [clearInput]="true" required> </ion-input>
        </ion-item>
        <span *ngIf="validFieldRequired('name')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>
        <span *ngIf="validFieldMinLength('name')">
          <ion-label>* El minimo de caracteres es 4</ion-label>
        </span>

        <ion-item lines="full">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input label="Apellido" [labelPlacement]="isRegistry ? 'floating': 'fixed'"  formControlName="lastName" [clearInput]="true" required></ion-input>
        </ion-item>
        <span *ngIf="validFieldRequired('lastName')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>
        <span *ngIf="validFieldMinLength('lastName')">
          <ion-label>* El minimo de caracteres es 4</ion-label>
        </span>

        <ion-item *ngIf="isRegistry">
          <ion-icon name="key-outline"></ion-icon>
          <ion-input label="Contraseña" [labelPlacement]="isRegistry ? 'floating': 'fixed'" formControlName="password" type="password" required></ion-input>
        </ion-item>
        <span *ngIf="validFieldRequired('password')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>
        <span *ngIf="validFieldMinLength('password')">
          <ion-label>* El minimo de caracteres es 8</ion-label>
        </span>
        <span *ngIf="validFieldPassword()">
          <ion-label>* Contraseñas no coinciden</ion-label>
        </span>

        <ion-item *ngIf="isRegistry">
          <ion-icon name="key-outline"></ion-icon>
          <ion-input label="Confirmar Contraseña" [labelPlacement]="isRegistry ? 'floating': 'fixed'" formControlName="confirmPassword" type="password" ></ion-input>
        </ion-item>
        <span *ngIf="validFieldRequired('confirmPassword')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>
        <span *ngIf="validFieldMinLength('confirmPassword')">
          <ion-label>* El minimo de caracteres es 8</ion-label>
        </span>
        <span *ngIf="validFieldPassword()">
          <ion-label>* Contraseñas no coinciden</ion-label>
        </span>

        <ion-item lines="full">
          <ion-row>
            <ion-col>
              <ion-label  class="lbl-birthday"><ion-icon name="calendar-outline"></ion-icon> Fecha de nacimiento</ion-label>
            </ion-col>
            <ion-col>
              <ion-datetime-button  color="primary"  datetime="datetime" presentation="date" ></ion-datetime-button>
            </ion-col>
          </ion-row>
        </ion-item>
        <span *ngIf="validFieldRequired('birthday')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>


        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="month-year" (ionChange)="setBirthday($event)"  [showDefaultButtons]="true" id="datetime" presentation="date" [preferWheel]="true"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item lines="full">
          <ion-icon name="transgender-outline"></ion-icon>
          <ion-select label="Genero" (ionChange)="setGender($event)" [selectedText]="form.get('gender')?.value">
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Femenino">Femenino</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="validFieldRequired('gender')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>

        <ion-item lines="full">
          <ion-icon name="earth-outline"></ion-icon>
          <ion-select label="Estado" (ionChange)="changeState($event)" [selectedText]="form.get('state')?.value">
            <ion-select-option *ngFor="let state of states" [value]="state.id">{{ state.stateName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="validFieldRequired('state')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>

        <ion-item lines="full">
          <ion-icon name="home-outline"></ion-icon>
          <ion-select label="Ciudad" (ionChange)="changeCity($event)"  [selectedText]="form.get('city')?.value" >
            <ion-select-option *ngFor="let city of cities" [value]="city.cityName">{{ city.cityName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="validFieldRequired('city')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>

        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-input label="Telefono" [labelPlacement]="isRegistry ? 'floating': 'fixed'" formControlName="phoneNumber" type="tel" ></ion-input>
        </ion-item>
        <span *ngIf="validFieldRequired('phoneNumber')">
          <ion-label>* Campo obligatorio</ion-label>
        </span>

        <ion-row>
          <ion-col>
            <ion-button type="submit" shape="round" class="btn-login" expand="block" *ngIf="isRegistry">Registrarse</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button (click)="update()" shape="round" class="btn-login" expand="block" *ngIf="!isRegistry">Actualizar</ion-button>
          </ion-col>
        </ion-row>
      </form>

  </ion-card-content>
</ion-card>
