<ion-content [fullscreen]="true" scrollY="true">
  <div id="container">
    <ion-card-header>
      <ion-card-title>
          <ion-text>
            <h1>Ingresar</h1>
          </ion-text>
      </ion-card-title>
    </ion-card-header>

      <ion-card-content>
        <form class="form" [formGroup]="form" >
          <ion-item lines="full">
            <ion-input label="Correo" labelPlacement="floating" formControlName="email" type="email" [clearInput]="true" ></ion-input>
          </ion-item>
          <div *ngIf="validFieldPattern('email')">
            <ion-label >* Formato de email invalido</ion-label>
          </div>
          <span *ngIf="validFieldRequired('email')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>

          <ion-item>
            <ion-input label="Contraseña" labelPlacement="floating" formControlName="password" type="password" ></ion-input>
          </ion-item>
          <span *ngIf="validFieldRequired('password')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>
          <span *ngIf="validFieldMinLength('password')">
            <ion-label>* El minimo de caracteres es 8</ion-label>
          </span>

          <ion-row>
            <ion-col>
              <ion-button (click)="login()" shape="round" class="btn-login" expand="block">Ingresar</ion-button>
            </ion-col>
          </ion-row>

        </form>

        <ion-card-content>
          <ion-label  >Soy un nuevo usuario.  </ion-label>
          <ion-label color="primary" (click)="goToRegistry()"  >Registrarse</ion-label>
        </ion-card-content>

      </ion-card-content>
  </div>
</ion-content>

