<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let requestPreview of requestPreviewList">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" [src]="requestPreview.image" />
          </ion-thumbnail>
          <ion-grid>
            <ion-chip [color]="getStatusColor(requestPreview.status)">{{getStatus(requestPreview.status)}}</ion-chip>
            <ion-col>
              <ion-card-header>
                <ion-card-title>{{requestPreview.equipment}}</ion-card-title>
                <ion-card-subtitle>{{requestPreview.createdDate}}</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
            <ion-col class="action-buttons">
              <ion-col>
                <ion-button shape="round"  size="small">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="danger" shape="round">
                  <ion-icon name="trash-bin-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-col>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-end">
        <ion-button id="open-modal" shape="round" class="btn-login" >Crear Solicitud</ion-button>
        <ion-modal
        #modal
        trigger="open-modal"
        [canDismiss]="canDismiss"
        [presentingElement]="presentingElement"
        (willPresent)="onWillPresent()"
      >
        <ng-template>
          <app-create-request [modal]="modal"
                              (dismissChange)="onDismissChange($event)"
                              (requestChange)="updateRequestList($event)">
          </app-create-request>
        </ng-template>
      </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
