<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis solicitudes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
   <!--REFRESHER-->
   <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="isLoading">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-alert *ngIf="error"
    header="Error"
    [message]="'Ocurrio un error al obtener las solicitudes'"
    isOpen="true"
    [buttons]="['Ok']"
  />

  @for (requestPreview of requestPreviewList; track requestPreview.requestId) {
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item >
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" [src]="requestPreview.image" />
            </ion-thumbnail>
            <ion-grid>
              <ion-chip [color]="getStatusColor(requestPreview.status)">{{getStatus(requestPreview.status)}}</ion-chip>
              <ion-col>
                <ion-card-header>
                  <ion-card-title>{{requestPreview.equipment}}</ion-card-title>
                  <ion-card-subtitle>{{requestPreview.createdDate}}</ion-card-subtitle>
                </ion-card-header>
              </ion-col>
              <ion-col class="action-buttons">
                <ion-col>
                  <ion-button shape="round"  size="small">
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="danger" shape="round">
                    <ion-icon name="trash-bin-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-col>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  }
  <ion-item *ngIf="requestPreviewList.length === 0 && !isLoading">
    <ion-label class="ion-text-center">Sin solicitudes :(</ion-label>
  </ion-item>

  <!--INFINITE SCROLL-->
  <ion-infinite-scroll [disabled]="!enableInfiniteScroll"
                       threshold="150px"
                       (ionInfinite)="getRequestList($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-end">
        <ion-button id="open-modal" shape="round" class="btn-login" >Crear Solicitud</ion-button>
        <ion-modal
        #modal
        trigger="open-modal"
        [canDismiss]="canDismiss"
        [presentingElement]="presentingElement"
        (willPresent)="onWillPresent()"
      >
        <ng-template>
          <app-create-request [modal]="modal"
                              (dismissChange)="onDismissChange($event)"
                              (requestChange)="updateRequestList($event)">
          </app-create-request>
        </ng-template>
      </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>
