<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="isLoading">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="!isLoading">
    <ion-item [button]="true">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/fioxin.appspot.com/o/equipos%2Fcongeladores_neveras%2Fsamsung_RT29K571JS8.png?alt=media&token=5878b997-d569-46f5-8ec6-326d434acba4" />
      </ion-thumbnail>
      <ion-label>
          <ion-text style="width: 100%;" color="secondary">
           <h2>
            Solicitud de presupuesto
           </h2>
          </ion-text>
        <p>
          <ion-text color="light" style="width: 100%;">
            <h3>Nevera Samsung RTX4090</h3>
          </ion-text>
        </p>
        <p>
         <ion-text>
          <h4>15/05/2024</h4>
         </ion-text>
        </p>

      </ion-label>
      <p>
        <ion-text>
          <ion-icon *ngIf="true" color="warning" size="large" name="mail-unread-outline"></ion-icon>
          <ion-icon *ngIf="true" color="success" size="large" name="mail-open-outline"></ion-icon>
        </ion-text>
      </p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-alert *ngIf="error"
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  />s
