<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <!--REFRESHER-->
   <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="isLoading">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="!isLoading">
    @for (notification of notifications; track notification.id) {
      <ion-item [button]="true" (click)="redirectTo(notification.requestId,notification.id)">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" [src]="notification.urlImage" />
        </ion-thumbnail>
        <ion-label>
            <ion-text style="width: 100%;" color="secondary">
            <h2>
             {{notification.notificationType}}
            </h2>
            </ion-text>
          <p>
            <ion-text color="light" style="width: 100%;">
              <h3>{{notification.description}}</h3>
            </ion-text>
          </p>
          <p>
          <ion-text>
            <h4>{{notification.createdAt}}</h4>
          </ion-text>
          </p>

        </ion-label>
        <p>
          <ion-text>
            <ion-icon *ngIf="!notification.isRead" color="success" size="large" name="mail-unread-outline"></ion-icon>
            <ion-icon *ngIf="notification.isRead" color="warning" size="large" name="mail-open-outline"></ion-icon>
          </ion-text>
        </p>
      </ion-item>
    }
  </ion-list>

  <!--INFINITE SCROLL-->
  <ion-infinite-scroll [disabled]="!enableInfiniteScroll"
                       threshold="150px"
                       (ionInfinite)="getNotifications($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-alert *ngIf="error"
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  />s
