<ion-content scrollY="true">
  <ion-card-header>
    <ion-card-title>
        <ion-text>
          <h1>Registrarse</h1>
        </ion-text>
    </ion-card-title>
  </ion-card-header>
  <app-user-form (userChanged)="registryUser($event)"></app-user-form>
</ion-content>

<ion-footer class="footer" >
  <ion-toolbar>
      <ion-card-content>
        <ion-label  >Ya tienes una cuenta.  </ion-label>             <ion-label color="primary" (click)="goToLogin()" >Ingresar</ion-label>
      </ion-card-content>
  </ion-toolbar>
</ion-footer>
