<ion-content scrollY="true">

  <ion-card >
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>
            <ion-text>
              <h1>Registrarse</h1>
            </ion-text>
        </ion-card-title>
      </ion-card-header>

        <form class="form" [formGroup]="form" (ngSubmit)="registry()">
          <ion-item lines="full">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name" [clearInput]="true" required>
              <ion-icon name="person" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <span *ngIf="validFieldRequired('name')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>
          <span *ngIf="validFieldMinLength('name')">
            <ion-label>* El minimo de caracteres es 4</ion-label>
          </span>

          <ion-item lines="full">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input formControlName="lastName" [clearInput]="true" required></ion-input>
          </ion-item>
          <span *ngIf="validFieldRequired('lastName')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>
          <span *ngIf="validFieldMinLength('lastName')">
            <ion-label>* El minimo de caracteres es 4</ion-label>
          </span>

          <ion-item lines="full">
            <ion-label position="floating">Cedula</ion-label>
            <ion-input formControlName="dni" [clearInput]="true" required min="0" type="number"></ion-input>
          </ion-item>

          <span *ngIf="validFieldRequired('dni')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>
          <span *ngIf="validFieldMinLength('dni')">
            <ion-label>* El minimo de caracteres es 8</ion-label>
          </span>

          <ion-item lines="full">
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="email" type="email" [clearInput]="true" required></ion-input>
          </ion-item>
          <div *ngIf="validFieldPattern('email')">
            <ion-label >* Formato de email invalido</ion-label>
          </div>
          <span *ngIf="validFieldRequired('email')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" required></ion-input>
          </ion-item>
          <span *ngIf="validFieldRequired('password')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>
          <span *ngIf="validFieldMinLength('password')">
            <ion-label>* El minimo de caracteres es 8</ion-label>
          </span>
          <span *ngIf="validFieldPassword()">
            <ion-label>* Contraseñas no coinciden</ion-label>
          </span>

          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input formControlName="confirmPassword" type="password" ></ion-input>
          </ion-item>
          <span *ngIf="validFieldRequired('confirmPassword')">
            <ion-label>* Campo obligatorio</ion-label>
          </span>
          <span *ngIf="validFieldMinLength('confirmPassword')">
            <ion-label>* El minimo de caracteres es 8</ion-label>
          </span>
          <span *ngIf="validFieldPassword()">
            <ion-label>* Contraseñas no coinciden</ion-label>
          </span>

          <ion-row>
            <ion-col>
              <ion-button type="submit" shape="round" class="btn-login" expand="block">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </form>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer" >
  <ion-toolbar>
      <ion-card-content>
        <ion-label  >Ya tienes una cuenta.  </ion-label>             <ion-label color="primary" (click)="goToLogin()" >Ingresar</ion-label>
      </ion-card-content>
  </ion-toolbar>
</ion-footer>
