

.btn-login {
  height: 60px;
}

.form {
  margin-bottom: 50px;
}

ion-item {
  margin-bottom: 15px;
}

.lbl-login{
  margin-left: -170px;
}

.card-header,.footer{
  text-align: center;
}

.input-wrapper{
  height: 60px;
}

