<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary">Crear Solicitud</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancelar()" >Cancelar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="form">
          <ion-list>
            <ion-searchbar placeholder="Busca tu equipo: lavadora, cocina, nevera..."
                        [debounce]="1000"
                        (ionInput)="searchEquipment($event)"
                        show-clear-button="always"
                        formControlName="equipmentSelectedName"
                        >
          </ion-searchbar>
          </ion-list>
          <span *ngIf="validFieldRequired('equipmentSelectedName')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>
          <ion-list style="z-index: 1000;" *ngIf="searchedEquipment && term !== ''">
            <ion-item  *ngFor="let equipment of equipments">
              <ion-thumbnail slot="start" >
                <img  [src]="equipment.image" />
              </ion-thumbnail>
              <ion-label (click)="setEquipment(equipment)"> {{ equipment.type}} {{equipment.brand}} {{equipment.model}}</ion-label>
            </ion-item>
          </ion-list>

          <ion-list >
            <ion-item >
              <ion-textarea
                label="Describa la falla que presenta su equipo"
                labelPlacement="floating"
                [counter]="true"
                maxlength="200"
                [autoGrow]="true"
                class="custom"
                formControlName="description"
              >
              </ion-textarea>
            </ion-item>
          </ion-list>
          <span *ngIf="validFieldRequired('description')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>

          <ion-list>
            <ion-item>
              <ion-toggle [enableOnOffLabels]="isReparationInAddress" [checked]="isReparationInAddress" (click)="changePlaceRepair()">
                <ion-label>¿Reparación a domicilio?</ion-label>
              </ion-toggle>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="isReparationInAddress">
            <ion-item >
              <ion-textarea
                label="Ingrese la dirección de la reparación"
                labelPlacement="floating"
                [counter]="true"
                maxlength="200"
                [autoGrow]="true"
                class="custom"
                formControlName="address"
              >
              </ion-textarea>
            </ion-item>
          </ion-list>
          <span *ngIf="validFieldRequired('address')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>

          <ion-row>
            <ion-col [hidden]="idRequest">
              <ion-button type="submit" shape="round" class="btn-login" expand="block" (click)="create()">Enviar Solicitud</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>

<ion-alert
  *ngIf="showModalCancel"
  isOpen="true"
  header="Confirmación"
  [message]="'¿Seguro que desea cancelar la creación de la Solicitud?'"
  [buttons]="alertButtons"
></ion-alert>
