<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!viewMode" color="primary">Crear Solicitud</ion-title>
      <ion-title *ngIf="viewMode" color="primary">Solicitud número #{{idRequest}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancelar()" >Cancelar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="form">
          <ion-list>
            <app-equipment-card-image *ngIf="viewMode"
                                      [image]="form.get('equipmentImage')?.value"
                                      [name]="form.get('equipmentSelectedName')?.value"
            ></app-equipment-card-image>

            <ion-searchbar *ngIf="!viewMode"
                          placeholder="Busca tu equipo: lavadora, cocina, nevera..."
                          [debounce]="1000"
                          (ionInput)="searchEquipment($event)"
                          show-clear-button="always"
                          formControlName="equipmentSelectedName"
                          >
            </ion-searchbar>
          </ion-list>
          <span *ngIf="validFieldRequired('equipmentSelectedName')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>
          <ion-list style="z-index: 1000;" *ngIf="searchedEquipment && term !== ''">
            <ion-item  *ngFor="let equipment of equipments">
              <ion-thumbnail slot="start" >
                <img  [src]="equipment.image" />
              </ion-thumbnail>
              <ion-label (click)="setEquipment(equipment)"> {{ equipment.type}} {{equipment.brand}} {{equipment.model}}</ion-label>
            </ion-item>
          </ion-list>

          <ion-list >
            <ion-item lines="none" >
              <ion-textarea
                label="Descripción la falla que presenta el equipo"
                labelPlacement="floating"
                [counter]="true"
                maxlength="200"
                [autoGrow]="true"
                class="custom"
                formControlName="description"
                [readonly]="viewMode"
                rows="5"
              >
              </ion-textarea>
            </ion-item>
          </ion-list>
          <span *ngIf="validFieldRequired('description')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>

          <ion-list>
            <ion-item lines="none">
              <ion-toggle [disabled]="viewMode" [enableOnOffLabels]="isReparationInAddress" [checked]="isReparationInAddress" (click)="changePlaceRepair()">
                <ion-label>¿Reparación a domicilio?</ion-label>
              </ion-toggle>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="isReparationInAddress" >
            <ion-item lines="none">
              <ion-textarea
                label="Dirección de la reparación"
                labelPlacement="floating"
                [counter]="true"
                maxlength="200"
                [autoGrow]="true"
                class="custom"
                formControlName="address"
                [readonly]="viewMode"
                rows="5"
                >
              </ion-textarea>
            </ion-item>
          </ion-list>
          <span *ngIf="validFieldRequired('address')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="showDetailRequest">
      <ion-card-header>
        <ion-card-title>Servicios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list> <!-- SERVICIOS EN LA SOLICITUD-->
          @for (serviceToRequest of servicesInRequest; track serviceToRequest.id) {
            <app-charge-service-form [servicePreview]="serviceToRequest"
                                     [showButton]="false"
                                     (serviceRemoveEmit)="removeService($event)">
            </app-charge-service-form>
          }
        </ion-list>
      </ion-card-content>
      <div class="ion-text-end" *ngIf="requestStatus === 'PENDING'" >
        <ion-button  fill="clear" (click)="openModalServices()" >Agregar servicio</ion-button>
      </div>

      <ion-modal #modal expand="block" [isOpen]="isOpenModalServices">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Agregar servicios</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModalServices()">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list> <!-- SERVICIOS PARA AGREGAR A LA SOLICITUD-->
              <app-list-services-modal [requestCategoryId]="requestCategoryId"
                                          [servicesChecked]="servicesInRequest"
                                          (servicesSelectedCompleted)="addServices($event)"
              ></app-list-services-modal>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>

    <ion-card *ngIf="showDetailRequest && promotions.length > 0">
      <ion-card-header>
        <ion-card-title>Promociones disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list> <!-- PROMOCIONES DE LOS SERVICIOS SELECCIONADOS-->
          @for (promotion of promotions; track promotion.id) {
            <ion-item lines="none" >
              <ion-badge slot="start" color="success" >{{promotion.discount}}%</ion-badge>
              <ion-label>{{promotion.description}}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-list [inset]="true" *ngIf="showDetailRequest && servicesInRequest.length > 0">
      <ion-item lines="none">
        <ion-label>Sub total</ion-label>
        <ion-badge slot="end" color="success" >$ {{subTotal}}</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Descuento</ion-label>
        <ion-badge slot="end" color="success" >$ {{discount}}</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Total a pagar</ion-label>
        <ion-badge slot="end" color="success" >$ {{ subTotal - discount}}</ion-badge>
      </ion-item>
    </ion-list>

    <!-- DETALLE DEL TECNICO ASOCIADO A LA SOLICITUD-->
    <ion-card *ngIf="requestStatus === 'IN_PROCESS' || requestStatus === 'IN_REVIEW' || requestStatus === 'UNPAID' || requestStatus === 'FINISHED'" >
      <ion-card-header>
        <ion-card-title>Técnico encargado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" *ngIf="technicalAssign">
          <ion-col size="4">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" [src]="technicalAssign.urlImage" />
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <section>
              <ion-label>{{technicalAssign.name}} {{technicalAssign.lastName}}</ion-label>
              <ion-text><ion-icon color="success" name="logo-whatsapp"></ion-icon> {{technicalAssign.phoneNumber}}</ion-text>
            </section>
          </ion-col>
          <ion-col size="2">
            <ion-button size="small" color="danger" *ngIf="requestStatus !== 'IN_REVIEW' && requestStatus !== 'UNPAID' && requestStatus !== 'FINISHED'"  (click)="removeTechnician()">
              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>




        </ion-item>

        <ion-item *ngIf="!technicalAssign">
          <ion-label>No ha seleccionado un técnico</ion-label>
        </ion-item>

      </ion-card-content>
      <div class="ion-text-end" *ngIf="requestStatus === 'IN_PROCESS' "  >
        <ion-button  fill="clear" (click)="openModalTechnician()" >Seleccionar técnico</ion-button>
      </div>

      <ion-modal #modal expand="block" [isOpen]="isOpenModalTechnician">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Seleccione un técnico</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModalTechnician()">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list> <!-- TECNICOS PARA ASOCIAR A LA SOLICITUD-->
              <app-list-technician (userSelectedChange)="changeTechnician($event)"></app-list-technician>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>

    <ion-modal #modal [isOpen]="showVoucherModal"  [presentingElement]="presentingElementVoucher">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Comprobande de pago</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="openVoucherModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-img
            [src]="request.voucherUrl"
            alt="Comprobante de pago"
          ></ion-img>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

  <ion-footer class="ion-no-border">
    <ion-grid>
      <ion-row class="ion-justify-content-center" >
        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && requestStatus === 'PENDING' && isGranted(['CANCELAR_SOLICITUD'])" >
          <ion-button type="submit"
                      id="open-modal"
                      shape="round"
                      color="danger"
                      class="btn-login"
                      (click)="setOpen(true)"
                      >
                      Cancelar Solicitud
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && requestStatus === 'PENDING' && isGranted(['RECHAZAR_SOLICITUD'])" >
          <ion-button type="submit"
                      id="open-modal"
                      shape="round"
                      color="danger"
                      class="btn-login"
                      (click)="setOpen(true)"
                      >
                      Rechazar Solicitud
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && requestStatus === 'ACCEPTED' && isGranted(['RECHAZAR_PRESUPUESTO'])" >
          <ion-button  type="submit"
                    id="open-modal"
                    shape="round"
                    color="danger"
                    class="btn-login"
                    (click)="setOpen(true)"
                    >
                    Rechazar
          </ion-button>
        </ion-col>


        <ion-col size="6"  class="ion-text-center" *ngIf="!idRequest">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       (click)="create()"
                       [ngClass]="{'hidden-button':!isGranted(['CREAR_SOLICITUD'])}">
                       Enviar Solicitud
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && !showDetailRequest && requestStatus === 'PENDING' && isGranted(['CREAR_PRESUPUESTO'])">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       color="secondary"
                       (click)="createBudget()">
                       Crear presupuesto
          </ion-button>
        </ion-col>


        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && showDetailRequest && requestStatus === 'PENDING' && isGranted(['CREAR_PRESUPUESTO'])">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       (click)="aproveBudget()">
                       Aprobar solicitud
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && showDetailRequest && requestStatus === 'ACCEPTED' && isGranted(['ACEPTAR_PRESUPUESTO'])">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       (click)="aceptBudget()">
                       Aceptar
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && showDetailRequest && requestStatus === 'IN_PROCESS' && isGranted(['INICIAR_REPARACION'])">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       (click)="assignRequest()">
                       Asignar solicitud
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && showDetailRequest && requestStatus === 'IN_REVIEW' && isGranted(['EJECUTAR_REPARACION'])">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       (click)="finishRepair()">
                       Finalizar reparación
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && showDetailRequest && requestStatus === 'UNPAID' && isGranted(['CARGAR_COMPROBANTE_DE_PAGO'])">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       (click)="uploadVoucher()">
                       Cargar comprobante
          </ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center" *ngIf="idRequest && showDetailRequest && requestStatus === 'FINISHED' && isGranted(['CARGAR_COMPROBANTE_DE_PAGO'])">
          <ion-button
                       shape="round"
                       class="comprobante-btn"
                       (click)="openVoucherModal()"
                       expand="block">
                       Ver comprobante
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</div>



<ion-alert
  *ngIf="showModalCancel"
  isOpen="true"
  header="Confirmación"
  [message]="'¿Seguro que desea cancelar la creación de la Solicitud?'"
  [buttons]="alertButtons"
></ion-alert>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Cancelar solicitud"
  [message]="'¿Seguro que desea cancelar la Solicitud?'"
  [buttons]="alertButtonsCancel"
></ion-alert>

<ion-alert
  [isOpen]="isAlertConfirmBudget"
  header="Guardar presupuesto"
  [message]="'Se guardaran los cambios y se enviara al cliente ¿Desea continuar?'"
  [buttons]="buttonsConfirmSaveBudget"
></ion-alert>
