<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!viewMode" color="primary">Crear Solicitud</ion-title>
      <ion-title *ngIf="viewMode" color="primary">Solicitud número #{{idRequest}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancelar()" >Cancelar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="form">
          <ion-list>
            <ion-searchbar *ngIf="!viewMode"
                        placeholder="Busca tu equipo: lavadora, cocina, nevera..."
                        [debounce]="1000"
                        (ionInput)="searchEquipment($event)"
                        show-clear-button="always"
                        formControlName="equipmentSelectedName"
                        >
          </ion-searchbar>
          <ion-searchbar *ngIf="viewMode" style="color: white;" [disabled]="viewMode" [placeholder]="form.get('equipmentSelectedName')?.value"></ion-searchbar>
          </ion-list>
          <span *ngIf="validFieldRequired('equipmentSelectedName')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>
          <ion-list style="z-index: 1000;" *ngIf="searchedEquipment && term !== ''">
            <ion-item  *ngFor="let equipment of equipments">
              <ion-thumbnail slot="start" >
                <img  [src]="equipment.image" />
              </ion-thumbnail>
              <ion-label (click)="setEquipment(equipment)"> {{ equipment.type}} {{equipment.brand}} {{equipment.model}}</ion-label>
            </ion-item>
          </ion-list>

          <ion-list >
            <ion-item >
              <ion-textarea
                label="Descripción la falla que presenta el equipo"
                labelPlacement="floating"
                [counter]="true"
                maxlength="200"
                [autoGrow]="true"
                class="custom"
                formControlName="description"
                [readonly]="viewMode"
                rows="5"
              >
              </ion-textarea>
            </ion-item>
          </ion-list>
          <span *ngIf="validFieldRequired('description')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>

          <ion-list>
            <ion-item>
              <ion-toggle [disabled]="viewMode" [enableOnOffLabels]="isReparationInAddress" [checked]="isReparationInAddress" (click)="changePlaceRepair()">
                <ion-label>¿Reparación a domicilio?</ion-label>
              </ion-toggle>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="isReparationInAddress" >
            <ion-item >
              <ion-textarea
                label="Dirección de la reparación"
                labelPlacement="floating"
                [counter]="true"
                maxlength="200"
                [autoGrow]="true"
                class="custom"
                formControlName="address"
                [readonly]="viewMode"
                rows="5"
                >
              </ion-textarea>
            </ion-item>
          </ion-list>
          <span *ngIf="validFieldRequired('address')">
            <ion-label style="color: red;">* Campo obligatorio</ion-label>
          </span>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isBudgedActive">
      <ion-card-header>
        <ion-card-title>Servicios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          @for (serviceToRequest of servicesInRequest; track serviceToRequest.id) {
          <ion-item>
            <ion-badge slot="start">$ {{serviceToRequest.cost}}</ion-badge>
            <ion-label>{{serviceToRequest.name}}</ion-label>
            <ion-button size="small" color="danger" (click)="removeService(serviceToRequest.id)">
              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        }
        </ion-list>
      </ion-card-content>
      <div class="ion-text-end">
        <ion-button  fill="clear" (click)="openModalServices()" >Agregar servicio</ion-button>
      </div>

      <ion-modal #modal [isOpen]="isOpenModalServices" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content>
            <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
            <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Connor Smith</h2>
                  <p>Sales Rep</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Daniel Smith</h2>
                  <p>Product Designer</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Greg Smith</h2>
                  <p>Director of Operations</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>Zoey Smith</h2>
                  <p>CEO</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-button (click)="addServices()">
              confirmar
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>
  </ion-content>



  <ion-footer class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button  type="submit"
                    id="open-modal"
                    shape="round"
                    color="danger"
                    class="btn-login"
                    (click)="setOpen(true)"
                    [ngClass]="{'hidden-button': !idRequest || !isGranted(['RECHAZAR_SOLICITUD','CANCELAR_SOLICITUD']) || requestStatus === 'CANCELLED' ||  requestStatus === 'REJECTED' || requestStatus === 'ABORTED'}"
                    >
                    {{bottonRedTitle}}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       (click)="create()"
                       [ngClass]="{'hidden-button': idRequest}">
                       Enviar Solicitud
          </ion-button>

          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       color="secondary"
                       (click)="createBudget()"
                       [ngClass]="{'hidden-button': !idRequest || requestStatus === 'REJECTED' || requestStatus === 'CANCELLED'  || requestStatus === 'ABORTED' || isBudgedActive}">
                       Crear presupuesto
          </ion-button>

          <ion-button type="submit"
                       id="open-modal"
                       shape="round"
                       class="btn-login"
                       [ngClass]="{'hidden-button': !isBudgedActive || requestStatus !== 'PENDING' }">
                       Aprobar solicitud
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-footer>
</div>



<ion-alert
  *ngIf="showModalCancel"
  isOpen="true"
  header="Confirmación"
  [message]="'¿Seguro que desea cancelar la creación de la Solicitud?'"
  [buttons]="alertButtons"
></ion-alert>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Cancelar solicitud"
  [message]="'¿Seguro que desea cancelar la Solicitud?'"
  [buttons]="alertButtonsCancel"
></ion-alert>
